<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<!-- On this canvas all ground tiles are drawn !-->
<canvas id = 'groundTilesCanvas'>
</canvas>
<canvas id = 'objectTilesCanvas'>
</canvas>
<canvas id = 'movingObjectCanvas'>
</canvas>
<p>{{test}} </p>
